.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    height: 80vh; /* This ensures that the container takes the full height of the viewport */
  }
  
  .Avatar-icon {
    background: url(../../Images/Avatar\ Background.svg);
    height: auto; /* Maintain the aspect ratio */
  }
  
  .Home-Heading {
    text-align: center;
    font-size: 50px;
  }
  .Home-Paragraph{
    color: #C5C5C5;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 300;
    letter-spacing: 0.36px;
    word-wrap: break-word;
    text-align: center;
  }
  
  .white-text {
    
    color: white;
    font-size: 55px;
    font-family: Poppins;
    font-weight: 800;
    line-height: 63.36px;
    word-wrap: break-word;
  }
  
  .orange-text {
    color: #FF8660;
    font-size: 55px;
    font-family: Poppins;
    font-weight: 800;
    line-height: 63.36px;
    word-wrap: break-word;
  }

  .Home-Btn-container {
    display: flex;
    
  }
  
  .Projects-Btn {
    color: #161513;
    background-color: #cdcccc;
    border-radius: 20px;
    font-size: 16px;
    width: 130px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    margin-right: 20px;
    height: 48px;
  }
  
  .Resume-Btn {
    color: white;
    background-color: black;
    border: 2px solid white;
    font-size: 16px;
    width: 130px;
    height: 48px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    border-radius: 20px;
  }

  
  